@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: #DDE8FF;
}

.container-flex {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 50px auto;
}

.elem-flex {
    width: 380px;
    padding: 27px 32px 38px 22px;
    background-color: white;
    border-radius: 16px;
}

.elem-flex__p {
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.form-btn__input {
    color: red;
}

.form-input-send {
    border: 1px solid black;
    width: 350px;
    margin-top: 50px;
    padding-left: 10px;
}

.form-send {
    text-align: center;
    margin-top: 100px;
}